<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Guide</title>
</head>
<body>
<h2 class="col-sm-offset-5 col-sm-3 text-center"">Guide</h2>
    <h4 class="col-sm-offset-5 col-sm-3 text-center"">How to use</h4>
        <p class="col-sm-offset-5 col-sm-3 text-center"> To use this tool
            enter either an acession or manually put in the sequence and header
        </p>

    <h4 class="col-sm-offset-5 col-sm-3 text-center"">Errors</h4>
        <p class="col-sm-offset-5 col-sm-3 text-center">If you encounter internal server errors it is likely you are
            trying to access an accesion that has not been populated by uniprot
        </p>
            <hr>
        <p class="col-sm-offset-5 col-sm-3 text-center">
            most errors in the input form will produce an error message below the submit button
        </p>


</body>
</html>