<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Motif search</title>
</head>
<body>
<h2 class="col-sm-offset-5 col-sm-3">Motif search</h2>
<div class="col-sm-offset-4 col-sm-4" style="text-align: center">
    <h5>To use this motif search either enter an acession code or fill in the header and fasta sequence manually.</h5>
    <a href="/guide">GUIDE</a>
</div>
<div class="col-sm-offset-4 col-sm-4 panel panel-default">

    <form method="POST" class="form-horizontal" id="inputform">
        <div class=" " style="psdding-bottom: 50px;">

            <div class="col-sm-offset-5 col-sm-6 ">
                <h4 class="">Acession</h4>
                <input id=acession name=acession placeholder="P10636"></input>
            </div>

            <h3 class="col-sm-offset-4 col-sm-6" style="padding-top: 20px; psdding-bottom: 50px;">OR</h3>

            <div class="col-sm-offset-5 col-sm-6 " style="padding-top: 20px; word-wrap: break-word">
                <h4 class="">Header</h4>
                <input id=header name=header placeholder=">sp|P10636|TAU_HUMAN Microtubule-associated protein tau OS=Homo sapiens GN=MAPT PE=1 SV=5"></input>
            </div>

            <div class="col-sm-offset-5 col-sm-6" style="padding-top: 20px; word-wrap: break-word">
                <h4 class="">Fasta sequence</h4>
                <textarea form="inputform" id="fasta" name="fasta" style="height:200px; width:180px;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-2">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
    <div  class="col-sm-offset-3">
    {% if error %}
    {{error}}
    {% endif %}
    {% if resulthead %}
    </div>
</div>
        <h4 class="col-sm-offset-3 col-sm-4">Results</h4>

            <div style="word-wrap: break-word" class="panel panel-default col-sm-offset-3 col-sm-6">
            <h4>Protien Header</h4>
            <h7>{{resulthead}}</h7>
            </div>
            <br><br>
            <div style="word-wrap: break-word" class="panel panel-default col-sm-offset-3 col-sm-6">
            <h4>Protien Sequence</h4>
            <h7>{{resultseq}}</h7>
            </div>
            <div style="word-wrap: break-word" class="panel panel-default col-sm-offset-3 col-sm-6">
            <h4>Motif as Regex</h4>
            <h7>{{pattern}}</h7>
            </div>
            <div style="word-wrap: break-word" class="panel panel-default col-sm-offset-3 col-sm-6">
            <h4>Motif results</h4>
                <h5>Position , Match</h5>
                <br>
                {% for x in resultpos %}
                     {{ resultpos[loop.index-1]+1}} -
                    {{ resultpos[loop.index-1] + 6}} ,
                    {{ resultmatches[loop.index-1]}}
                    <br>
                {% endfor %}
            </div>
    {% endif %}
    <div class="col-sm-offset-5 col-sm-2" style="padding-bottom : 10px;">
    </div>
</body>
</html>